/*

!.gitignore
!.gitmodules

!bash/
!fish/

!gdb/
!git/
!kitty/

!helix/
!nvim/
!vim/
vim/plugged
!yazi/
!zathura/

!gtk-2.0/
!gtk-3.0/
!gtk-4.0/
!hypr/
!nwg-look/
!qt6ct/
!rofi/
!waybar/
!user-dirs.dirs

!cristalix/
!monkeytype/
