dconf/
discord/
ibus/
pulse/
vlc/
BetterDiscord\ Installer/
cmus/cache
cmus/command-history
cmus/search-history
cmus/lib.pl
cmus/playlists/
obsidian/
obsidian-appearance/workspace.json
vim/plugged/
QtProject.conf
qBittorrent/
docker/buildx/
docker/.*
qt6ct/
godot/

anilibrix/*
!anilibrix/Preferences

Xeoma/

Code - OSS/*
!Code - OSS/User/
Code - OSS/User/*
!Code - OSS/User/settings.json

subversion/auth

zed/*
!zed/keymap.json
!zed/settings.json
!zed/themes/

OpenRGB/

qalculate/qalc.history

nushell/history.txt
menus/
Element/

java/fonts

gh/hosts.yml

Kitware/
blender/

heroic/*
!heroic/config.json
